<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %>
        prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "John doe" %>
  </div>

  <div class="field">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", placeholder: "sample@promptcloud.com" %>
  </div>

  <div class="field">
    <%= form.label :image, class: "form-label" %>
    <%= form.text_field :image, class: "form-control", placeholder: "Profile picture link" %>
  </div>

  <div class="field">
    <%= form.label :phone, class: "form-label" %>
    <%= form.text_field :phone, class: "form-control", placeholder: "9182409060" %>
  </div>

  <div class="field">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", 
      placeholder: "Enter your password here" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control", 
      placeholder: "Re-Enter your password here" %>
  </div>

  <div class="actions">
    <%= form.submit "Save changes", class: "btn btn-success" %>
  </div>
<% end %>
