<div class="card mx-5 mb-3">
  <div class="row g-0">
    <div class="col-md-3">
        <%= image_tag(user.image, class: "img-fluid rounded-start") %>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5>
            <%= link_to user.name, user, class: "card-title" %>
        </h5>
        <p class="card-text">
            Email: <%= user.email %>
        </p>
        <p class="card-text">
            Followers: <%= user.follower.count %>
        </p>
        <p class="card-text">
            Following: <%= user.following.count %>
        </p>
        <p class="card-text">
            No.of tweets: <%= user.microposts.count %>
        </p>
      </div>
    </div>
  </div>
</div>