<tr>
    <th scope="row"><%= user.id %></th>
    <td><h6><%= user.name %></h6></td>
    <td><h6><%= user.email %></h6></td>
    <td>
        <%= image_tag(user.image, size: '50') %>
    </td>
    <td><h6><%= user.phone %></h6></td>
    <td><%= link_to 'Show', user, :class => "btn btn-sm btn-success font-white" %></td>
    <% if current_user.admin? || current_user?(user) %>
        <td><%= link_to 'Edit', edit_user_path(user), :class => "btn btn-sm btn-primary font-white" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, 
        data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger font-white" %></td>
    <% end %>
</tr>