<table id="usersTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>User from</th>
        </tr>
    </thead> 
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td> <%= user.id %> </td>
                    <td> <h6><%= user.name %></h6> </td>
                    <td><h6><%= user.email %></h6></td>
                    <td><h6><%= user.phone %></h6></td>
                    <td><h6><%= time_ago_in_words(user.created_at) %></h6></td>
                </tr>
            <% end %>
        </tbody>
        <tfoot>
             <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>User from</th>
            </tr>
        </tfoot>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#usersTable').DataTable();
} );
</script>