<% provide(:title, 'Home page') %>
<div class="my-3">

    <h3>
        Welcome to Switter
    </h3>
    <br>
    <% if logged_in? %>
    <div class="mb-4">
            <%= link_to 'Create new micropost', new_micropost_path, class: "btn btn-outline-success" %>
    </div>
    
    <%= will_paginate @microposts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>

    <% @microposts.each do |micropost| %>
        <div class="card my-3">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4">
                    <%= image_tag(get_image_url(micropost.user_id), 
                        class: "rounded-circle", size: '50') %>
                    <h5 class="card-title ms-2">
                        Tweet by
                        <%= link_to "##{get_name(micropost.user_id)}",
                            get_path(micropost.user_id)  %>
                    </h5>
                </div>
                <%= image_tag micropost.display_image if micropost.image.attached? %>
                <h5 class="card-text mt-3">
                    <%= micropost.content %>
                </h5>
                <p class="text-muted"> Tweeted at: <%= time_ago_in_words(micropost.created_at) %> </p>
                <div class="d-flex">
                    <% if (logged_in? && current_user.admin?) || current_user?(micropost.user) %>
                    <%= link_to "Edit", edit_micropost_path(micropost.id), :class => "btn btn-primary mx-1"%>
                    <%= link_to "Destroy", micropost, method: :delete, data: { confirm: 'Are you sure?' } ,
                        :class => "btn btn-danger font-white" %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>

    <%= will_paginate @microposts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    <% end %>
</div>